<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ul>
  <li>
    <a [routerLink]="'/home'" routerLinkActive="active">Home</a>
  </li>
  <li>
    <a [routerLink]="'/about'" routerLinkActive="active">About</a>
  </li>
</ul>
<router-outlet></router-outlet>
<!--<app-button text="Hack" color="danger" fn="" (presionar)="hazalgo($event)"
  ></app-button>-->